@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@500&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@00&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tajawal' sans-serif;
}
  *{
      margin: 0px;
      padding: 0px;
      text-decoration: none;
  }

  body{
      font-family: 'Noto Naskh Arabic', serif;
      font-family: 'Rubik', sans-serif;
      overflow-x: hidden;
  }

  #hero{
      width: 100vw;
      height: 100vh;
      object-fit: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 32px;
  } 

  .container{
      max-width: 1140px;
      margin: 0 auto;
  }

  .nav-bar{
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

  }

  .nav-bar .menue a:not(:last-child){
      color: #000;
      margin-left: 60px;
      font-size: 16px;
      transition-duration: 0.4s;
      letter-spacing: 1px;
  }

  .nav-bar .menue a:not(:last-child):hover{
      border-bottom: 2px solid #000 ;
      padding-bottom: 10px;
  }

  .nav-bar .menue .btn-sign-up{
      color: #000;
      margin-left: 120px;
      padding: 10px 25px;
      font-size: 16px;
      background: rgba(225,225,225,0.2);
      border-radius: 50px;
  }

  .nav-bar .menue .btn-sign-up :hover{
      background-color: #000;
      color: #2e2c2c;
  }




html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: 100%;
    background: whitesmoke;
}

.bg-hijrah {
    background: rgb(49, 23, 6);
}

.bg-hijrah2 {
    background: rgb(255, 255, 255);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(65, 30, 8);
    border-radius: 3px;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 511;
    width: 100%;
    transition: 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

nav a,
li {
    margin: 0 3%;
}

.login {
    width: 10%;
}

.login button {
    width: 100%;
    padding: 5% 0;
    background: whitesmoke;
    transition: 0.4s ease;
    border-radius: 12px;
    border: none;
    outline: none;
    cursor: pointer;
}

.login button.scrolled {
    color: white;
        background: rgba(65, 30, 8);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130vh;
}

main .everything {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
}

main .everything .path {
    padding: 0 2%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5%;
}

main .everything .path p {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1%;
}

main .everything .path a {
    font-size: large;
    text-decoration: none;
    color: black;
}

main .everything .e70 {
    margin-top: 3%;
    padding: 0 2%;
    width: 70%;
    height: 90%;
}

main .everything .e70 .imaged {
    width: 100%;
    height: 25%;
    background: url() no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}

main .everything .e70 .detail {
    padding: 2%;
    width: 100%;
    height: 10%;
}


main .everything .e30 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    width: 30%;
    height: 90%;
}

main .everything .e30 .share {
    width: 35%;
    align-self: end;
    height: 30px;
}

main .everything .e30 .share button {
    border: 1px solid black;
    outline: none;
    background: white;
    border-radius: 6px;
    width: 100%;
}

main .everything .e30 .price {
    position: sticky;
    top: 0;
    width: 100%;
    height: 150px;
    border-radius: 12px;
    padding-bottom: 3%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    
}

main .everything .e30 .price .up p {
    padding: 3%;
    padding-bottom: 0;
    font-size: small;
}

main .everything .e30 .price .up h3 {
    padding: 3%;
    padding-top: 0;
    font-size: large;
}


main .everything .e30 .price .down h3 {
    padding: 3%;
    padding-top: 0;
    font-size: large;
}

main .everything .e30 .price .down a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

main .everything .e30 .price .down a button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 96%;
    border-radius: 6px;
    padding: 1% 0;
    outline: none;
    border: none;
    color: white;
    background-color: #5fa8f5;
    transition: 0.3s ease;
    cursor: pointer;
}

main .everything .e30 .price .down a button:hover {
    color: wheat;
}

main .everything .e30 .contactus {
    width: 100%;
    height: 5%;
    gap: 10%;
    display: flex;
    flex-direction: column;
    align-self: start;
}

main .everything .e30 .contactus a {
    width: 100%;
}

main .everything .e30 .contactus a button {
    color: black;
    width: 100%;
    border-radius: 6px;
    padding: 1% 0;
    border: 1px solid black;
    outline: none;
    background: white;
}
@media screen and (max-width: 991px) {
    .login {
        display: none;
    }

    .cards .card {
        width: 40%;
    }
    .aboutArabs {
        margin-right: 10%;
        width: 12%;
    }
}


/* customersevice */

.customersevice {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
}

.customerseviceback {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    width: 95%;
    background-color: #2ba8fb;
    border-radius: 16px;
    margin-bottom: 5%;
    padding: 2%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
/* rateeeeeeee----------------- */
.CustomerCard {
    border-radius: 12px;
    padding: 1%;
    width: 40%;
    height: 80%;
    background-color: whitesmoke;
    cursor: pointer;
}

.CustomerCard .Male {
    position: absolute;
    width: 3.5%;
    height: 7%;
    margin-top: -5%;
    margin-right: -1.5%;
    background-color: white;
    border-radius: 50%;
}

.Rating_titleFather1 {
    margin-top: 14%;
    margin-right: -2%;
    width: 60%;
}

.Rating_titleFather2 {
    margin-top: 14%;
    margin-right: -2%;
    width: 60%;
}

.Rating_titleFather {
    margin-top: 14%;
    margin-right: -4%;
    width: 50%;
}

.CustomerCard .Rating_title {
    text-align: center;
}

.CustomerCard .flexrow {
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2%;
}

.CustomerCard h3 {
    font-size: 14px;
}

.CustomerCard .Nameofcustomer {
    text-align: center;
    width: 30%;
}

.CustomerCard .Rate {
    position: absolute;
    width: 10%;
    margin-top: 5%;
    margin-left: 17%;
}

.CustomerCard button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 12px;
    padding: 0 1%;
    background: #FFA500;
    cursor: pointer;
}

.CustomerCard p {
    font-size: 12px;
    margin-right: 5%;
    color: grey;
}
.t3ref{
    margin-left: 170vh;
    margin-bottom: 90px;
    width: 100px;
    font-size: 30px;

}
.hola{
    margin-top: 10px;
}
.second
{
    display:flex;
    flex-wrap: wrap;
    height:90vh;
    justify-content: center;
    align-items: center;
    
    
}
.inventor
{
    width:79%;
    border-radius:15px;

}
.inventor1{
    width:79%;
    border-radius:15px;

}
.card{
    color:rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    z-index: 0;
    transition: 0.3s;
    cursor: pointer;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    height: 50vh;
    gap:5%;
    text-align: center;
    padding:15px;
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
    border:none;
    width:30%;
    margin-left: 100vh;
    position: relative;

    
}
.card h1
{
    transition: 0.5s;
}
.card p
{
    font-size:19px;
    transition: 0.5s    ;
}
.card:before {
    content: "";
    position: absolute;
    width: 5%;
    top:0;
    left: 0;
    height:5%;
    border-bottom-right-radius: 50px;
    z-index: -1;
    transition:.5s ease;
    
}
.card:hover:before
{
    width:100%;
    height: 100%;
    border-radius:15px;
}

#abn_alhethm
{
    width:40%;
}
#sena
{
    width: 35%;
}
button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }
  
  .a1{
    color: #fff;
  }
  .more-button{
    margin-left: 177vh;
    margin-top: 200px;
    position: absolute;

  }
  .t3ref1{
    margin-left: 195vh;
    margin-bottom: 100px;
    width: 100px;
    font-size: 30px;
}
 
